# Dependencies
markdown:         redcarpet
highlighter:      pygments

# Setup
title:            Simon Pinochet
tagline:          'Portfolio'
description:      "I'm a Computer Science student at UT at Austin with a concentration in Game Development."
url:              http://hyde.getpoole.com
baseurl:          /

author:
  name:           'Mark Otto'
  url:            https://twitter.com/mdo

paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/poole/hyde
